{% extends "base.html" %}
{% block content %}
<h2>Mon panier</h2>
{% csrf_token %}    
{% for artwork in artworks %}
    <div id="div_{{ artwork.id }}">         
        <p>{{ artwork.name }}</p>
        <p>{{ artwork.height }}</p>
        <p>{{ artwork.width }}</p>
        <p>{{ artwork.artist.name }}</p>
        <button name="delete" id="{{ artwork.id }}">Supprimer du panier</button>
    </div>
    {% endfor %}

    <script>
        $("button[name=delete]" ).click(function (event) {
            var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
            var artwork_id = event.target.id;
            $.ajax({
                url: '/carts/delete/',
                type: 'POST',
                dataType: 'json',
                data: {
                    "csrfmiddlewaretoken": csrftoken,
                    "artwork_id": artwork_id,
                },
            }).done(function(totalInCart) {
                $( "div[id=div_"+artwork_id+"]" ).remove();
            });
        });
    </script>

{% endblock content %}