{% extends "base.html" %}
{% block title %}
    List artwork mode admin
{% endblock %}
{% block content %}
    <h2>Toutes les oeuvres d'arts mode admin</h2>
    <a class="btn btn-primary" href="{% url 'artworks:artwork_new' %}" role="button">Ajouter une oeuvre</a>
    <a class="btn btn-primary" href="{% url 'artworks:add_style' %}" role="button">Ajouter un style</a>

    {% for style in styles %}
    <input type="checkbox" id="{{ style.id }}">
    <label for="{{ style.id }}">{{ style.name }}</label>
    {% endfor %}

    <div id="replaceable-artwork">
        {% include './artworks_filtered.html' %}
    </div>

<script>
    $( document ).ready(function() {
        // const user_input = $("#user-input")
        const artists_div = $('#replaceable-artwork')
        const endpoint = ''
        const delay_by_in_ms = 700
        let scheduled_function = false

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    // fade out the artists_div, then:
                    artists_div.fadeTo('slow', 0).promise().then(() => {
                        // replace the HTML contents
                        artists_div.html(response['html_from_view'])
                        // fade-in the div with new contents
                        artists_div.fadeTo('slow', 1)
                    })
                })
        }


        $('input[type="checkbox"]').change(function () {
            const request_parameters = {}
            if(this.checked) {
                 var inputsCheck= $('input[type="checkbox"]:checked')
                 console.log(inputsCheck);
                 var inputAlreadyCheck = Object.values(inputsCheck).find( i => i.id && i.id !== this.id);
                 if (inputAlreadyCheck) $(`#${inputAlreadyCheck.id}`).prop('checked', false);
                request_parameters.q = this.id // value of user_input: the HTML element with ID user-input
            } else {
                request_parameters.q = 0
            }                         
            
            // if scheduled_function is NOT false, cancel the execution of the function
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })
    });
</script>
{% endblock content %}