{% extends "base.html" %}
{% block title %}
    {{ artwork.name }}
{% endblock %}
{% block content %}   
    <div>
        {% csrf_token %}        
        <input type="hidden" name="artwork_id" value="{{ artwork.id }}"></input>
        
        <p>{{ artwork.name }}</p>
        <p>{{ artwork.height }}</p>
        <p>{{ artwork.width }}</p>
        <p>{{ artwork.artist.name }}</p>
        <p>{{ artwork.photo.url }}</p>
        <img src="{{ artwork.photo.url }}">
        <button>Ajouter au panier</button>
    </div>

    <script>
        $("button" ).click(function () {
            var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
            var artwork_id = $('input[name="artwork_id"]').val();
            $.ajax({
                url: '/carts/add/',
                type: 'POST',
                dataType: 'json',
                data: {
                    "csrfmiddlewaretoken": csrftoken,
                    "artwork_id": artwork_id,
                },
            }).done(function(totalInCart) {
                $( "#cart_element" ).html(totalInCart);
            });
        });
    </script>
{% endblock content %}

