<!-- {% for artwork in artworks %}
    <div>
        <p>{{ artwork.name }}</p>
        <p>{{ artwork.height }}</p>
        <p>{{ artwork.width }}</p>
        <p>{{ artwork.artist.name }}</p>
        {% if artwork.timer is not None %}
            <input type="hidden" class="artwork_timer" value="{{ artwork.timer|date:'Y-m-d' }}"></input>
            <p class="timer"></p>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'artworks:artwork_show' artwork_id=artwork.id %}" role="button">Show</a> 
    </div>
{% endfor %} -->

{% for artwork in artworks %}
{% if forloop.counter|divisibleby:4 %}
<div>
    <div class="row">
{% endif %}
        <div class="three columns">
            <a href="{% url 'artworks:artwork_show' artwork_id=artwork.id %}">
                <img class="u-max-full-width border-i" src="images/paint-placeholder.png">
            </a>
            <h5 class="oeuvre-heading">{{ artwork.name }}</h5>
            <p class="section-description">{{ artwork.artist.name }}</p>
            {% if artwork.timer is not None %}
            <input type="hidden" class="artwork_timer" value="{{ artwork.timer|date:'Y-m-d' }}"></input>
            <p class="timer"></p>
            {% endif %}
        </div>
{% if forloop.counter|divisibleby:4 %}
    </div>
</div>
{% endif %}

{% endfor %}



<div class="row">
    <div class="seven columns">
        <p></p>
    </div>
    <div class="five columns">
        <div class="pagination">
            {% if artworks.has_previous %}                       
                <a href="?page={{ artworks.previous_page_number }}">{{ artworks.previous_page_number }}</a>
            {% endif %}            
            <a class="active" href="#">{{ artworks.number }}</a>           
            {% if artworks.has_next %}                
                 <a href="?page={{ artworks.next_page_number }}">{{ artworks.next_page_number }}</a>
            {% endif %}
        </div>
    </div>
</div>
