{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ artwork.name }}
{% endblock %}
{% block content %}   
    <!-- <div>
        {% csrf_token %}        
        <input type="hidden" name="artwork_id" value="{{ artwork.id }}"></input>
        
        <p>{{ artwork.name }}</p>
        <p>{{ artwork.height }}</p>
        <p>{{ artwork.width }}</p>
        <p>{{ artwork.artist.name }}</p>
        <p>{{ artwork.photo.url }}</p>
        <input type="hidden" class="artwork_timer" value="{{ artwork.timer|date:'Y-m-d' }}"></input>
        <p class="timer"></p>
        <img src="{{ artwork.photo.url }}" width="200">
        {% if artwork.state == 1 %}   
            <form action="{% url 'carts:cart_add' artwork.id %}" method="post">
                {{ cart_artwork_form }}
                {% csrf_token %}
                <input type="submit" value="Ajouter au panier">
            </form>
        {% else %}
            <p>indispo</p>
        {% endif %}   
    </div> -->

    <div class="section fil">
        <div class="container">
          <div class="row">
            <div class="four columns">
              <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <div  class="arrow"></div>
                <li><a href="{% url 'artworks:artworks_list' %}">Liste des oeuvre</a></li>
                <div  class="arrow"></div>
                <li><a href="#">Oeuvre</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
      
      
      <div class="section u-fil">
        {% csrf_token %}        
        <input type="hidden" name="artwork_id" value="{{ artwork.id }}"></input>
        <div class="container">
        <input type="hidden" class="artwork_timer" value="{{ artwork.timer|date:'Y-m-d' }}"></input>
        <p class="timer"></p>
          <div class="row">
            <div class="one-half column">
              <img class="u-max-full-width  border-i" src="{{ artwork.photo.url }}">
            </div>
            <div class="one-half column left">
              <h3 class="oeuvre-h">{{ artwork.name }}</h3>
              <div class="row">
                <div class="three columns">
                  <h5 class="price">{{ artwork.price }}€ HT</h5>
                </div>
                <div class="nine columns">
                  <!-- <p>Pour une location de 3 mois</p> -->
                  {% if artwork.state == 1 %}   
                  <form style="display: flex" action="{% url 'carts:cart_add' artwork.id %}" method="post">
                      {{ cart_artwork_form }}
                      {% csrf_token %}
                      <button type="submit" class="btsubmit">Louer</button>
                  </form>
                {% else %}
                    <p>indispo</p>
                {% endif %}  
                </div>
              </div>
              <p class="oeuvre-p">{{ artwork.introduction }}</p>
              <br>
              <button class="bt3"><a href="{% url 'artists:artist_show' artist_id=artwork.artist.id %}">Voir l'artiste</a></button>             
            </div>
            </div>
          </div>
        </div> 
      </div>

      <div class="section">
          <div class="container">
            <h4>OEUVRES A LOUER</h4>
            <h3 class="section-heading">L'oeuvre en détail</h3>
            <button id="btn1" class="btsubmit">Description</button>
            <button id="btn2" class="btsubmit">Caractéristiques</button>
            
            <div class="row black-row left">
              <div class="one columns"><p></p></div>
              
              <div id="description" class="ten columns">
                <p>{{ artwork.description }}</p>
              </div>
              
              <div id="caracteristique" class="ten columns">
                <p> Hauteur : {{ artwork.description }}</p>
                <p> Largeur : {{ artwork.description }}</p>
                <p> Artiste : {{ artwork.description }}</p>
                <p> Style : {{ artwork.description }}</p>
                <p> Catégorie : {{ artwork.description }}</p>
              </div>
              <div class="one columns"><p></p></div>
            </div>
          </div>
        </div>
      
        <div class="section oeuvres">
          <div class="container">
            <h3 class="section-heading">Elles pourraint vous intéresser</h3>
            <div class="row">
              {% for artwork in artworksWithSameStyle %}    
              <div class="three columns">          
                <a href="{% url 'artworks:artwork_show' artwork_id=artwork.id %}">
                  <img class="u-max-full-width border-i" src="{{ artwork.photo.url }}">
                </a>
                <h5 class="oeuvre-heading">{{ artwork.name }}</h5>
              </div>
              {% endfor %}
            </div>
        </div>
      </div>

<script>
  $(document).ready(function () {

  $("#caracteristique").hide();

  $("#btn1").click(function(){
      //  $("#p1").toggle();
      $("#description").show();
       $("#caracteristique").hide();
  });

  $("#btn2").click(function(){
    $("#description").hide();
       $("#caracteristique").show();
  });

});
</script>

{% endblock content %}