{% extends "base.html" %}
{% block title %}
List artwork
{% endblock %}
{% block content %}
<!-- <h2>Toutes les oeuvres d'arts</h2>    

{% for style in styles %}
<input type="checkbox" id="style_{{ style.id }}">
<label for="style_{{ style.id }}">{{ style.name }}</label>
{% endfor %}

{% for category in categories %}
<input type="checkbox" id="category_{{ category.id }}">
<label for="category_{{ category.id }}">{{ category.name }}</label>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if artworks.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ artworks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ artworks.number }} / {{ artworks.paginator.num_pages }}.
        </span>

        {% if artworks.has_next %}
            <a href="?page={{ artworks.next_page_number }}">next</a>
            <a href="?page={{ artworks.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> -->
<div class="section fil">
    <div class="container">
        <div class="row">
            <div class="twelve column">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Toutes les oeuvres</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section u-fil">
    <div class="container">
        <div class="row">
            <div class="three columns grey-back">
                <h6>Trouver des oeuvres:</h6>
                <div class="hbar"></div>
                <div class="row">
                    <div class="twelve colums">
                        <form method="post" action="/" class="check-oeuvres">
                            <fieldset>
                                <legend>Catégories:</legend>
                                {% for category in categories %}
                                <input type="checkbox" name="categorie" id="category_{{ category.id }}">
                                <label for="category_{{ category.id }}">{{ category.name }}</label>
                                {% endfor %}
                                <!-- <input type="checkbox" name="categorie" value="Sculpture">Sculpture<br>-->
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve colums">
                        <form method="post" action="/" class="check-oeuvres">
                            <fieldset>
                                <legend>Styles:</legend>
                                <!-- <input type="checkbox" name="artistes" value="Red-Ape">Red-Ape<br>-->
                                {% for style in styles %}
                                <input type="checkbox" id="style_{{ style.id }}">
                                <label for="style_{{ style.id }}">{{ style.name }}</label>
                                {% endfor %}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="nine columns">
                <h3 class="section-heading left">Oeuvres à louer disponibles</h3>
                <p class="section-description left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                    suscipit, orci rutrum convallis viverra, nisl tellus molestie velit, vel efficitur nisl ante sed
                    dolor. Phasellus et urna metus. In sodales, velit vel pharetra sodales, massa lacus semper augue, eu
                    finibus leo justo vitae ipsum. Aenean fringilla sapien eros. Aliquam quis scelerisque est. Cras sit
                    amet hendrerit metus</p>
                <div id="replaceable-artwork-site">
                    {% include './artworks_filtered.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // const user_input = $("#user-input")
        const artists_div = $('#replaceable-artwork-site')
        const endpoint = ''
        const delay_by_in_ms = 100
        let scheduled_function = false

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    // fade out the artists_div, then:
                    artists_div.fadeTo('slow', 0).promise().then(() => {
                        // replace the HTML contents
                        artists_div.html(response['html_from_view'])
                        // fade-in the div with new contents
                        artists_div.fadeTo('slow', 1)
                    })
                })
        }


        $('input[type="checkbox"]').change(function () {
            const request_parameters = {}
            const id = this.id.split('_')[1];
            const type = this.id.split('_')[0];
            var inputsCheck = $('input[type="checkbox"]:checked')

            Object.values(inputsCheck).forEach(ic => {
                if (ic.id && ic.id.split('_')[0] !== type) {
                    switch (ic.id.split('_')[0]) {
                        case 'style':
                            request_parameters.s = ic.id.split('_')[1]
                            break;
                        case 'category':
                            request_parameters.c = ic.id.split('_')[1]
                            break;
                    }
                }
            });


            if (this.checked) {
                var inputAlreadyCheck = Object.values(inputsCheck).find(i => i.id && i.id.split('_')[0] === type && i.id.split('_')[1] !== id);
                if (inputAlreadyCheck) $(`#${type}_${inputAlreadyCheck.id.split('_')[1]}`).prop('checked', false);

                switch (type) {
                    case 'style':
                        request_parameters.s = id
                        break;
                    case 'category':
                        request_parameters.c = id
                        break;
                    default:
                        request_parameters.c = 0
                        request_parameters.s = 0
                        break;
                }

            } else {
                switch (type) {
                    case 'style':
                        request_parameters.s = 0
                        break;
                    case 'category':
                        request_parameters.c = 0
                        break;
                    default:
                        request_parameters.c = 0
                        request_parameters.s = 0
                        break;
                }
            }

            // if scheduled_function is NOT false, cancel the execution of the function
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })
    });
</script>
{% endblock content %}