{% extends "base.html" %}
{% block title %}
    List artwork mode admin
{% endblock %}
{% block content %}
    <h2>Toutes les oeuvres d'arts mode admin</h2>
    <a class="btn btn-primary" href="{% url 'artworks:artwork_new' %}" role="button">Ajouter une oeuvre</a>
    <a class="btn btn-primary" href="{% url 'artworks:add_style' %}" role="button">Ajouter un style</a>
    <a class="btn btn-primary" href="{% url 'artworks:add_category' %}" role="button">Ajouter une catégorie</a>
    <a class="btn btn-primary" href="{% url 'artworks:add_storage_place' %}" role="button">Ajouter un lie de stockage</a>

    {% for style in styles %}
    <input type="checkbox" id="style_{{ style.id }}">
    <label for="style_{{ style.id }}">{{ style.name }}</label>
    {% endfor %}

    {% for category in categories %}
    <input type="checkbox" id="category_{{ category.id }}">
    <label for="category_{{ category.id }}">{{ category.name }}</label>
    {% endfor %}

    {% for sp in storage_places %}
    <input type="checkbox" id="sp_{{ sp.id }}">
    <label for="sp_{{ sp.id }}">{{ sp.name }}</label>
    {% endfor %}

    {% for id, state in states %}
    <input type="checkbox" id="state_{{ id }}">
    <label for="state_{{ id }}">{{ state }}</label>
    {% endfor %}

    <div id="replaceable-artwork">
        {% include './artworks_filtered_admin.html' %}
    </div>

<script>
    $( document ).ready(function() {
        // const user_input = $("#user-input")
        const artists_div = $('#replaceable-artwork')
        const endpoint = ''
        const delay_by_in_ms = 100
        let scheduled_function = false

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    // fade out the artists_div, then:
                    artists_div.fadeTo('slow', 0).promise().then(() => {
                        // replace the HTML contents
                        artists_div.html(response['html_from_view'])
                        // fade-in the div with new contents
                        artists_div.fadeTo('slow', 1)
                    })
                })
        }


        $('input[type="checkbox"]').change(function () {
            const request_parameters = {}
            const id = this.id.split('_')[1];
            const type = this.id.split('_')[0];
            var inputsCheck= $('input[type="checkbox"]:checked')

            Object.values(inputsCheck).forEach(ic => {
                if (ic.id && ic.id.split('_')[0] !== type) {
                    switch (ic.id.split('_')[0]) {
                    case 'style':
                        request_parameters.s = ic.id.split('_')[1]
                        break;
                    case 'category':
                        request_parameters.c = ic.id.split('_')[1]
                        break;
                    case 'sp':
                        request_parameters.sp = ic.id.split('_')[1]
                        break;
                    case 'state':
                        request_parameters.st = ic.id.split('_')[1]
                        break;
                }
                }
            });
            

            if(this.checked) {                                 
                var inputAlreadyCheck = Object.values(inputsCheck).find( i => i.id && i.id.split('_')[0] === type && i.id.split('_')[1] !== id);
                if (inputAlreadyCheck) $(`#${type}_${inputAlreadyCheck.id.split('_')[1]}`).prop('checked', false);
                
                switch (type) {
                    case 'style':
                        request_parameters.s = id
                        break;
                    case 'category':
                        request_parameters.c = id
                        break;
                    case 'sp':
                        request_parameters.sp = id
                        break;
                    case 'state':
                        request_parameters.st = id
                        break;
                    default:
                        request_parameters.c = 0
                        request_parameters.s = 0
                        request_parameters.sp = 0
                        request_parameters.st = 0   
                    break;
                }
                 
            } else {
                switch (type) {
                    case 'style':
                        request_parameters.s = 0
                        break;
                    case 'category':
                        request_parameters.c = 0
                        break;
                    case 'sp':
                        request_parameters.sp = 0
                    case 'st':
                        request_parameters.st = 0
                    default:
                        request_parameters.c = 0
                        request_parameters.s = 0
                        request_parameters.sp = 0 
                        request_parameters.st = 0  
                    break;
                }
            }                         
            
            // if scheduled_function is NOT false, cancel the execution of the function
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })
    });
</script>
{% endblock content %}