{% extends "base.html" %}
{% block title %}
    List artists
{% endblock %}

{% block content %}
<div class="container">
<h2>Les artistes mode admin</h2>
<a class="btn btn-primary" href="{% url 'artists:artist_new' %}" role="button">Ajouter un artiste</a>
<a class="btn btn-primary" href="{% url 'artists:artist_upload' %}" role="button">Import csv</a>
<br>
<br>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>nom d'artiste</th>
            <th>Prénom</th>
            <th>Nom</th>                    
        </tr>
    </thead>
    <tbody>
        {% for artist in artists_list %}
        <tr>
            <td>{{ artist.id }}</td>
            <td>{{ artist.name }}</td>
            <td>{{ artist.firstname }}</td>
            <td>{{ artist.lastname }}</td>            
        </tr>                    
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {                   
        var table = $('#table_id').DataTable({
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                }
            ]
        });
        
        $('#table_id tbody').on('click', 'tr', function () {
            var data = table.row( this ).data();
            var id = data[0];
            console.log(document.location);
            document.location.pathname = `artists/update-artist-${id}/`;
         });
    });
</script>

{% endblock %}

