{% extends "base.html" %}
{% block title %}
Home page
{% endblock %}
{% block content %}   
<div class="container">
  <h2>Bonjour {{ user }}</h2>
  <div class="dashborad_infos">
    <span id="info_oeuvres"><p>{{ totalArtworks }}</p>oeuvres</span>
    <span><p>{{ artworksInLocation }}</p>oeuvres en location</span>
    <span><p>{{ orderWaiting }}</p>commandes en attente</span>
    <span><p>{{ artworksTimer }}</p>oeuvres avec un timer</span>
    <span><p>{{ artistsTotal }}</p>artistes</span>
  </div>
  <hr>
  <div class="dashborad_infos">
    <span>
      <p>Artiste à l'honneur</p>
      {{ artistSpotlight.name }}<br>
      <img src="{{ artistSpotlight.photo.url }}" width="200">
    </span>
    <span>
      <p>Liste des oeuvres bientot de retour</p>
      {% for art in artworksBackSoon %}
      {{art}}<br>
      Retour prévu le : {{ art.returnDate }}</p>
      {% endfor %}
    </span>
    <span>
      <p>Liste des oeuvres en retard</p>
      {% for art in artWorksMustBeBack %}
      {{art}}<br>
      Retour initialement prévu le : {{ art.returnDate }}
      {% endfor %}
    </span>
  </div>
</div>
{% endblock content %}