{% extends "base.html" %}
{% block title %}
    Update order
{% endblock %}
{% block content %}   
<h2>Update order</h2>

  <div style="display: flex, width: 100%">

    <p>date : {{ order.created_at }}</p>

    {% for artwork in order.artworks %}
      <div style="border:solid">
        <p>oeuvre : {{ artwork.name }}</p>
        <select name="select"> 
          {% for rate in rates.all %}
              <option {% if artwork.rate == order.rate %} selected {% endif %}> {{ rate }} </option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}

    {{ form.as_p }}

  </div>


    <button type="submit" class="save btn btn-default">Save</button>


{% endblock content %}