a {
    color: initial;
    text-decoration: none;
}
a:hover {
    color: #fd0786;
}
button {
    line-height: initial;
}
a.btn,
button.btn,
input[type="submit"].btn {
    background-color: #fd0786;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    transition: .2s;
    white-space: nowrap;
}
a.btn:hover,
button.btn:hover,
input[type="submit"].btn:hover {
    background-color: #ca056b;
    color: #fff;
}
a.btn {
    display: inline-block;
    height: 38px;
    padding: 0 10px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
}
body {
    display: flex;
    padding: 20px;
}
/*------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    height: min-content;
    align-items: center;
    min-width: 180px;
}
header > div {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 0px #cfcfcf;
    border-radius: 15px;
    padding: 5px 10px;
}
header > div:first-child {
    width: 60%;
    text-align: center;
}
header > div > a {
    margin: 5px;
    font-weight: bold;
}
header > div > img {
    width: 50px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}
header > div#search {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
    z-index: 1;
    background: #f5f5f5;
}
header > div#search > #user-input {
    margin-bottom: 0;
    border: none;
    background: transparent;
}
.content-page {
    flex-grow: 1;
    padding: 0 20px;
}
/*------------------------------------*/
.content-page > .container {
    width: 100%;
    max-width: 1200px;
}
.content-page > .container > h2 {
    width: 70%;
}
form {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}
form > p > label {
    color: #fd0786;
}
form > p > input:not([type="checkbox"]),
form > p > textarea,
form > p > select {
    width: 100%;
}
form > button {
    width: 30%;
    margin: 0 auto;
    display: block;
}
.filters > label {
    display: inline-block;
    margin-right: 15px;
}
table,
table.dataTable {
    width: 100% !important;
}
/*------------------------------------*/
.dashborad_infos {
    display: flex;
    flex-wrap: wrap;
}
.dashborad_infos > span {
    flex: 15% 1 0;
    min-width: 150px;
    box-shadow: 1px 1px 5px 0px #cfcfcf;
    margin: 8px;
    border-radius: 10px;
    padding: 10px;
}
.dashborad_infos > span#info_oeuvres {
    background-color: #fd0786;
    color: #fff;
}
.dashborad_infos > span > p {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}
.rate {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}