<!DOCTYPE html>
<html lang="fr">
{% load pwa %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Galerie LTK{% endblock title %}</title>
    
    {% load static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>  
    {% progressive_web_app_meta %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    {% block head_end %}
    {% endblock head_end %}
</head>

<body>
    {% block body_header %}   
    <a href="/">Logo</a>
    <a href="/concept">Le concept</a>
    <a href="{% url 'artists:artists' %}">Les artistes</a>
    <a href="{% url 'artworks:artworks_list' %}">Les oeuvres</a>
    <a href="/contact">Contact</a>
    {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}">Déconnexion</a>
        <a href="{% url 'users:myaccount' %}">Mon compte</a>
        <a id="cart_element" class="btn btn-primary" href="{% url 'carts:cart_list'%}" role="button"></a> 
        {% if user.is_superuser %}
            <p>Hello super user</p>
        {% endif %}
    {% else %}
        <a href="{% url 'users:login' %}">Connexion</a>
    {% endif %}
    
    {% endblock body_header %}
    
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    
    {% block body_footer %}{% endblock body_footer %}
    
</body>

<script>
    $(document).ready(function(){
        $.ajax({
            url: '/carts/length/',
            type: 'GET',
        }).done(function(totalInCart) {
            $( "#cart_element" ).html(totalInCart);
        });
    });
        
</script>

</html>