<!DOCTYPE html>
<html lang="fr">
{% load pwa %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Galerie LTK{% endblock title %}</title>
    
    {% load static %}
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    {% if user.is_superuser %}
        <link href="{% static 'css/admin.css' %}" rel="stylesheet">
    {% else %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endif %}       
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>      
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% progressive_web_app_meta %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/dataTable.js' %}"></script>
    
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/moment-countdown.js' %}"></script>

    {% block head_end %}
    {% endblock head_end %}
</head>

<body>
    {% block body_header %}   

    {% if user.is_authenticated %}
        <a href="{% url 'users:myaccount' %}">
            Mon compte
            {% if user.is_superuser %}
                (super user)
            {% endif %}
        </a>
     {% else %}
        <a href="{% url 'users:login' %}">Connexion</a>
    {% endif %}
    {% if user.is_superuser %}       
        <a href="{% url 'dashboard' %}">Dashboard</a>    
        <a href="{% url 'rates:rates_update' %}">Modification des taux</a>
        <a href="{% url 'site_content:update_content' %}">Modifier le contenu du site</a>
        <a href="{% url 'artworks:artworks_list' %}">Liste des oeuvres</a>
        <a href="{% url 'artists:artists' %}">Liste des artistes</a>
        <a href="{% url 'users:users_all' %}">Liste des utilisateurs</a>
        <a href="{% url 'orders:orders_list' %}">Liste des commandes</a>
        {% include './search_results.html' %}
    {% else %}
        <a href="/">Logo</a>
        <a href="/concept">Le concept</a>
        <a href="{% url 'artists:artists' %}">Les artistes</a>
        <a href="{% url 'artworks:artworks_list' %}">Les oeuvres</a>
        <a href="/contact">Contact</a>
        <span class="cart">
            <a href="{% url 'carts:cart_detail' %}">
                Mon panier ({{ cart|length }})
            </a>
        </span>
    {% endif %}

    {% endblock body_header %}
    
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    
    {% block body_footer %}
    
    {% endblock body_footer %}
    

</body>

</html>