{% extends "base.html" %}
{% load static %}
{% block title %}
    Le concept
{% endblock %}
{% block content %}
<div class="section fil">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <div  class="arrow"></div>
            <li><a href="#">Oeuvre</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  
    <div class="section">
      <div class="container">
        <h3 class="section-heading left">Le concept Arthotèque</h3>
      </div>
    </div>
  
    <div class="section concept-hero">
      <div class="container">
         <div class="row">
          <div class="nine columns left">
            <h3>L'art  sous toutes ses formes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit </p>
          </div>
          <div class="three columns">
              <img class="u-max-full-width oversized-i" src="{% static 'images/concept-img.png' %}">
          </div>
        </div>
      </div>
    </div>
  
    <div class="section">
      <div class="container">
         <div class="row">
            <div class="seven columns cat-card concept-c">
              <div class="card">
                <h3>Stockage des oeuvres</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="five columns c-left">
              <h3>Notre équipe:</h3>
              <div class="row">
                <div class="one-half column">
                    <img class="u-max-full-width circle" src="{% static 'images/0-7.png' %}">
                    <h5>Virigine (Desert-Beurton) Le Mignon</h5>
                    <p>CEO associé</p>
                </div>
                <div class="one-half column">
                    <img class="u-max-full-width circle" src="{% static 'images/0-6.png' %}">
                    <h5>Annaïck Le Mignon</h5>
                    <p>CEO associé</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  
  
      <div class="section concept-hero2">
      <div class="container">
         <div class="row">
          <div class="one-half column">
            <h3>Nos différents services</h3>
            <div class="row">
              <div class="four columns card">
                <img class="u-max-full-width black-b" src="{% static 'images/first-floor.png' %}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel lacinia magna, nec convallis neque. Nullam metus neque, imperdiet at</p>
                <button class="bt4"><a href="" role="button">Voir le site</a></button>
              </div>
              <div class="four columns card">
                <img class="u-max-full-width black-b" src="{% static 'images/first-floor.png' %}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel lacinia magna, nec convallis neque. Nullam metus neque, imperdiet at</p>
                <button class="bt4"><a href="" role="button">Voir le site</a></button>
              </div>
              <div class="four columns card">
                <img class="u-max-full-width black-b" src="{% static 'images/first-floor.png' %}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel lacinia magna, nec convallis neque. Nullam metus neque, imperdiet at</p>
                <button class="bt4"><a href="" role="button">Voir le site</a></button>
              </div>
            </div>
          </div>
          <div class="one-half column">
              <div class="card card2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel lacinia magna, nec convallis neque. Nullam metus neque, imperdiet at</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section infos">
      <div class="container">
        <div class="row">
          <div class="one-half column left">
            <h3>Comment nous trouver?</h3>
            <div class="row">
              <div class="two columns">
                  <img class="u-max-full-width" src="{% static 'images/block.svg' %}">
              </div>
              <div class="ten columns">
                <p>8 place Louis Imbach<br>
                49100 Angers</p>
              </div>
            </div>
            <div class="row">
              <div class="two columns">
                  <img class="u-max-full-width" src="{% static 'images/minute.svg' %}">
              </div>
              <div class="ten columns">
                <p>Vendredi:  15h-18h<br>
                Samedi:  10h30-12h30/15h-19h</p>
              </div>
            </div>
            <h3>Une question?</h3>
            <p>Nous y répondrons dans les meilleurs délais</p>
            <button class="bt4"><a href="" role="button">Voir le site</a></button>
          </div>
          <div class="one-half column">
            <img class="u-max-full-width" src="{% static 'images/map.png' %}">
          </div>
        </div>
      </div>
    </div>
  
{% endblock content %}