{% extends "base.html" %}
{% block title %}
	Contact
{% endblock %}
{% block content %}
    <!-- <h2>Contact</h2>
    <form method="POST" enctype="multipart/form-data" class="contact-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form> -->

    <div class="section fil">
        <div class="container">
          <div class="row">
            <div class="four columns">
              <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <div  class="arrow"></div>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      
        <div class="section">
          <div class="container">
            <h3 class="section-heading">Contact</h3>
            <p class="section-description full-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit, orci rutrum convallis viverra, nisl tellus molestie velit, vel efficitur nisl ante sed dolor. Phasellus et urna metus. In sodales, velit vel pharetra sodales, massa lacus semper augue, eu finibus leo justo vitae ipsum. Aenean fringilla sapien eros. Aliquam quis scelerisque est. Cras sit amet hendrerit</p>
          </div>
        </div>
      
      
      
        <div class="section">
          <div class="container">
            <div class="grey-container">
                <form method="POST" enctype="multipart/form-data" class="contact-form">
                    {% csrf_token %}
                <div class="row">
                  <div class="five columns">
                    {% for field in form %}
                      {% if field.label != 'Message' %} 
                        {{ field.label }} : {{ field }}
                      {% endif %}
                    {% endfor %}
                    <!-- {{ form.as_p }} -->
                  </div>      
                  <div class="seven columns">
                    {{ form.message.label }} : {{ form.message }}
                  </div>     
                </div>
                <div class="twelve column left align">
                  <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                  <label for="subscribeNews">Je souhaite recevoir les news de  la galerie</label><br>
                  <input type="checkbox" id="rgpd" name="rgpd" value="rgpd">
                  <label for="rgpd">En soumettant ce formulaire, j’accepte que les informations saisies soient exploitées dans le cadre de la relation commerciale qui peut en découler.</label><br>
                  <p class="mini-t">Informations sur le traitement de vos données personnelles : Pour connaître et exercer vos droits, notamment de retrait de votre consentement à l’utilisation des données collectées par ce formulaire, veuillez consultez notre politique de confidentialité.</p>
                </div>
                <input class="btsubmit" type="submit" value="Envoyer">
              </form>
            </div>
          </div>
        </div>
{% endblock %}