{% extends "base.html" %}
{% block title %}
Liste des taux
{% endblock %}
{% block content %}
<div class="container">
    <h2>Liste des taux</h2>
    <a class="btn" href="{% url 'rates:rates_add' %}" role="button">Ajouter un taux</a>
    <a class="btn btn-primary" href="{% url 'rates:rate_upload' %}" role="button">Import csv</a>

<br>
<br>
    {% for rate in rates %}
    <div class="rate">
        <b>{{ rate.duration }}</b> mois : 
        x <b>{{ rate.rate }}</b><br>
        <button id={{rate.id}}>Modifier</button>
    </div>
    {% endfor %}
        
    <script>
        $(document).ready(function() {                   
            $("button").click(function(event) {         
                document.location.pathname = `rates/update-rate-${event.target.id}/`;
            });
        });
    </script>
</div>
{% endblock %}