{% extends "base.html" %}
{% block title %}
    List rates
{% endblock %}
{% block content %}
<div class="container">
    <h2>Liste des taux</h2>
{% for rate in rates %}
    {{ rate.duration }} mois : 
    x {{ rate.rate }}
    <button id={{rate.id}}>Modifier</button>
    <br>
    <br>
{% endfor %}
<a class="btn" href="{% url 'rates:rates_add' %}" role="button">Ajouter un taux</a>

<script>
    $(document).ready(function() {                   
        $("button").click(function(event) {         
         document.location.pathname = `rates/update-rate-${event.target.id}/`;
        });
    });
</script>
</div>
{% endblock %}