{% extends "base.html" %}
{% block title %}
    Mes commandes
{% endblock %}
{% block content %}

    {% for order in orders %}
        <div>
            <p>id : {{ order.id }}</p>
            <p>prix : {{ order.price }}</p>
            <p>etat : {{ order.state }}</p>
            <p>date : {{ order.created_at }}</p>
            {% for artwork in order.artworks %}
                <p>oeuvre : {{ artwork.name }}</p>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}

{% endblock content %}