{% extends "base.html" %}
    {% block title %}
        Mot de passe modifié
    {% endblock %}
    {% block content %}
    
    <div class="section">
        <div class="container">
          <h3 class="section-heading">Mot de passe modifié</h3>
          <p class="section-description full-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit, orci rutrum convallis viverra, nisl tellus molestie velit, vel efficitur nisl ante sed dolor. Phasellus et urna metus. In sodales, velit vel pharetra sodales, massa lacus semper augue, eu finibus leo justo vitae ipsum. Aenean fringilla sapien eros. Aliquam quis scelerisque est. Cras sit amet hendrerit</p>
        </div>
      </div>
    
    {% endblock content %}