{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}

<div class="section fil">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <div  class="arrow"></div>
            <li><a href="#">Mes informations</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="section">
    <div class="container">
      <h3 class="section-heading">{{ title }}</h3>
      <p class="section-description full-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit, orci rutrum convallis viverra, nisl tellus molestie velit, vel efficitur nisl ante sed dolor. Phasellus et urna metus. In sodales, velit vel pharetra sodales, massa lacus semper augue, eu finibus leo justo vitae ipsum. Aenean fringilla sapien eros. Aliquam quis scelerisque est. Cras sit amet hendrerit</p>
    </div>
  </div>
  
  <div class="section">
    <div class="container">
      <div class="grey-container">

            <p>{{ form.non_field_errors }}</p>
            <form method="post" action="{{ url_form }}">
                {% csrf_token %}
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label><br>
                {{ form.email }}<br>
                {% if form.errors.email %}
                    <span>{{ form.errors.email }}</span>
                {% endif %}
                
                {% if not modify %}        
                    
                    <label for="{{ form.raw_password.id_for_label }}">{{ form.raw_password.label }}</label><br>
                    {{ form.raw_password }}<br>
                    {% if form.errors.raw_password %}
                        <span>{{ form.errors.raw_password }}</span>
                    {% endif %}
                    
                    <label for="{{ form.raw_password_confirmation.id_for_label }}">{{ form.raw_password_confirmation.label }}</label><br>
                    {{ form.raw_password_confirmation }}<br>
                    {% if form.errors.raw_password_confirmation %}
                        <span>{{ form.errors.raw_password_confirmation }}</span>
                    {% endif %}

                    
                {% endif %}

                <label for="{{ form.firstname.id_for_label }}">{{ form.firstname.label }}</label><br>
                {{ form.firstname }}<br>
                {% if form.errors.firstname %}
                    <span>{{ form.errors.firstname }}</span>
                {% endif %}

                <label for="{{ form.lastname.id_for_label }}">{{ form.lastname.label }}</label><br>
                {{ form.lastname }}<br>
                {% if form.errors.lastname %}
                    <span>{{ form.errors.lastname }}</span>
                {% endif %}

                <label for="{{ form.company.id_for_label }}">{{ form.company.label }}</label><br>
                {{ form.company }}<br>
                {% if form.errors.company %}
                    <span>{{ form.errors.company }}</span>
                {% endif %}

                <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label><br>
                {{ form.phone }}<br>
                {% if form.errors.phone %}
                    <span>{{ form.errors.phone }}</span>
                {% endif %}
                
                <input class="btsubmit" type="submit" value="Valider"><br>
                
                {% if not modify %}
                <button class="bt3"><a href="{% url 'users:login' %}">Connexion</a></button>
                {% endif %}

                <button class="bt3"><a href="{% url 'users:forgot_password' %}">Mot de passe oublié</a></button>

            </form>
        </div>
    </div>
  </div>

{% endblock content %}