{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}

<p>{{ form.non_field_errors }}</p>
<form method="post" action="{{ url_form }}">
    {% csrf_token %}
    {% if not modify %}
        
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label><br>
        {{ form.email }}<br>
        
        <label for="{{ form.raw_password.id_for_label }}">{{ form.raw_password.label }}</label><br>
        {{ form.raw_password }}<br>
        
        <label for="{{ form.raw_password_confirmation.id_for_label }}">{{ form.raw_password_confirmation.label }}</label><br>
        {{ form.raw_password_confirmation }}<br>
        
    {% endif %}
    
    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label><br>
    {{ form.username }}<br>
    
    <input type="submit" value="Valider"><br>
    
    {% if not modify %}
        <a href="{% url 'users:login' %}">Connexion</a>
    {% endif %}

</form>

{% endblock content %}