{% extends "base.html" %}
{% block title %}
    Update password
{% endblock %}
{% block content %}

<form method="post" action="{{ url_form }}">
    {% csrf_token %}

    <label for="{{ form.raw_password.id_for_label }}">{{ form.raw_password.label }}</label><br>
    {{ form.raw_password }}<br>
    {% if form.errors.raw_password %}
        <span>{{ form.errors.raw_password }}</span>
    {% endif %}
    
    <label for="{{ form.raw_password_confirmation.id_for_label }}">{{ form.raw_password_confirmation.label }}</label><br>
    {{ form.raw_password_confirmation }}<br>
    {% if form.errors.raw_password_confirmation %}
        <span>{{ form.errors.raw_password_confirmation }}</span>
    {% endif %}

    <input type="submit" value="Valider"><br>

</form>

{% endblock content %}