{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data" class="artist-form">
    {% csrf_token %}
    {{ form.as_p }}    
    <input type="submit" value="Valider"><br>
    <button type="submit" name="delete_user">Delete</button>
    {% if isAdmin %}        
        <button type="submit" name="downgrade">Downgrade</button>
    {% else %}
        <button type="submit" name="upgrade">Upgrade</button>
    {% endif %}
</form>

{% endblock content %}