{% extends "base.html" %}
{% block title %}
    List des utilisateurs
{% endblock %}
{% block content %}
<div class="container">
<h2>Liste des utilisateurs</h2>
{% for user in users_list %}
<!-- <div>
    <p>{{ user.email }}</p>
    <p>{{ user.firstname }}</p>
    <p>{{ user.lastname }}</p>
    <a class="btn btn-primary" href="{% url 'users:user' user_id=user.id %}" role="button">Show</a>
</div>  -->
{% endfor %}

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Entreprise</th>                 
        </tr>
    </thead>
    <tbody>
        {% for user in users_list %}
        <tr>
            <th>{{ user.id }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.company }}</td>                       
        </tr>                    
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    $(document).ready(function() {                   
        var table = $('#table_id').DataTable({
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                }
            ]
        });
        
        $('#table_id tbody').on('click', 'tr', function () {
            var data = table.row( this ).data();
            var id = data[0];            
            document.location.pathname = `users/update-user-${id}/`;
         });
    });
</script>

{% endblock %} 